h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

li {
  text-transform: capitalize;
  list-style: none;
}
.whole-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  margin-top: 20px;
}
.weather-temperature strong {
  font-weight: 400;
  font-size: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.git {
  margin: 0 auto;
  padding-left: 300px;
}
